<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Profile</title>
</head>
<body>
    <section class="profile_container">
        <div class="profile_picture">
            <img src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-user-cartoon-girl-avatar-image_1200112.jpg" alt="Perfil">
        </div>
        <div class="profile_data">
            <p>Maria Garcia</p>
            <svg enable-background="new 0 0 56 56" version="1.1" viewBox="0 0 56 56" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                <path d="m28 0c-15.439 0-28 12.561-28 28s12.561 28 28 28 28-12.561 28-28-12.561-28-28-28zm12 41h-24c-1.104 0-2-0.896-2-2s0.896-2 2-2h24c1.104 0 2 0.896 2 2s-0.896 2-2 2zm0-11h-24c-1.104 0-2-0.896-2-2s0.896-2 2-2h24c1.104 0 2 0.896 2 2s-0.896 2-2 2zm0-11h-24c-1.104 0-2-0.896-2-2s0.896-2 2-2h24c1.104 0 2 0.896 2 2s-0.896 2-2 2z"/>
            </svg>
        </div>
    </section>
</body>
</html>